" Common configuration
source ~/.commonvimrc

" Configuration
set NERDTree
set easymotion
set surround
set clipboard+=ideaput
set visualbell
set noerrorbells

" Reload config
nnoremap <Leader>r :so ~/.ideavimrc<CR>

" Move up/down
nnoremap <C-K> <C-U>
vnoremap <C-K> <C-U>
nnoremap <C-J> <C-D>
vnoremap <C-J> <C-D>
